<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CourseSchedulingSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>com.ljheee.db.UsedClassRoomException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>treat</servlet-name>
    <servlet-class>com.ljheee.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>treat</servlet-name>
    <url-pattern>/treat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.ljheee.web.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectMajorServlet</servlet-name>
    <servlet-class>com.ljheee.web.SelectMajorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectMajorServlet</servlet-name>
    <url-pattern>/selectMajorServlet</url-pattern>
  </servlet-mapping>
</web-app>